body {
	margin: 0;
	font-family: "Chewy", cursive;
    overflow-x: hidden;
}

.header {
	font-weight: bolder;
	font-size: 4em;
	text-align: center;
}

.btn {
	display: block;
}

#canvas {
	display: grid;
	grid-gap: 0px;
	margin: 0 auto;
	width: 80vw;
    height: auto;
    aspect-ratio: 1;
	max-width: 800px;
    justify-content: center;
    border: 2px solid black;
    
}

.pixel {
	background-color: black;
	/* box-sizing: border-box; */
    user-select: none;
}

.container {
	display: flex;
}
.options {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    #canvas{
        order: 1;
    }
    .options{
        order: 2;
    }
  }